.hero {
  position: relative;
}

.hero h3 {
  font-weight: 100;
  letter-spacing: 2px;
}

.hero h1 {
  font-size: 60px;
  font-weight: bold;
}
    .hero h1 br {
      display: none;
    }

.hero h1 span {
  color: #ff014f;
}

.hero h2 {
  font-size: 50px;
  font-weight: bold;
  color: #ff014f;
}

.hero h2 span {
  color: black;
}

.hero p {
  color: #878e99;
  font-size: 18px;
  line-height: 30px;
  margin-top: 30px;
}

.hero_btn {
  margin-top: 10%;
}

.hero_btn h4 {
  font-weight: 500;
  letter-spacing: 2px;
  color: #43474b;
  font-size: 15px;
  margin: 30px 0 30px 0;
}

.hero_btn button {
  margin-right: 30px;
}

.colorbtn button:nth-of-type(1) svg {
  color: #3c873a;
}


.colorbtn button:nth-of-type(3) svg {
  color: #61DBFB;
}

.colorSocial button:hover svg {
  color: white;
}



.hero_btn i {
  font-size: 20px;
}

.hero_btn button img {
  width: 20px;
  height: 20px;
}

.hero .left {
  margin-right: 10%;
  display: flex;
  flex-direction: column;
  margin-top: 60px;
}

.hero .right {
  width: 40%;
  position: relative;
}

.hero .right_img {
  background: linear-gradient(145deg, #e2e8ec, #ffffff);
  box-shadow: 4px 4px 8px #cbcbcb, -4px -4px 8px #ffffff;
  border-radius: 10px;
  height: 580px;
  width: 530px;
  margin-top: 6%;

}

.hero .right_img img {
  position: absolute;
  top: -159px;
  right: 2%;
  width: 510px;
  height: auto;


}

@media screen and (max-width: 1820px) {
  .hero .right_img img {
    position: absolute;
    top: -159px;
    right: 0%;
    width: 510px;
    height: auto;

    /* width: 510px; */
  }

}

@media screen and (max-width: 1410px) {
  .hero_btn button svg {
    font-size: 24px;
  }

  .hero_btn {
    margin-top: 5%;
  }
    .hero .left {
     
      margin-top: -30px;
    }

  .hero .right_img {

    height: 435px;
    width: 430px;
    margin-top: 6%;

  }

  .hero .right_img img {
    width: 410px;
    height: auto;

    /* width: 510px; */
  }
}

@media screen and (max-width: 1230px) {
 
  .hero .right_img {

    height: 345px;
    width: 330px;
    margin-top: 6%;

  }

  .hero .right_img img {
    width: 350px;
    height: auto;

    /* width: 510px; */
  }
}

@media screen and (max-width: 1110px) {
  .hero h1 {
    font-size: 45px;

  }

  .hero h2 {
    font-size: 35px;

  }

  .hero_btn button {
    margin-right: 20px;
  }

  .hero .left {
    margin-right: 5%;
  }
}

@media screen and (max-width: 850px) {
  .hero h1 {
    font-size: 35px;

  }

  .hero h2 {
    font-size: 25px;

  }

  .hero .right_img {

    height: 345px;
    width: 279px;
    margin-top: 6%;

  }

  .hero .right_img img {
    top: -79px;
    width: 292px;
    height: auto;

    /* width: 510px; */
  }
}


@media (max-width: 768px) {


  .hero .right,
  .hero .left {
    width: 100%;
    padding: 0 0px 0 20px;

  }
     .hero .left {
  
       margin-top: 60px;
     }

  .hero .fflex {
    /* display: flex; */
    flex-direction: column-reverse;
    /* flex-direction: column-reverse; */
  }


  .hero {
    position: relative;
  }

  .hero h3 {
    font-weight: 100;
    letter-spacing: 2px;
  }

  .hero h1 {
    font-size: 60px;
    font-weight: bold;
  }

  .hero h2 {
    font-size: 45px;

  }

  .hero p {
    margin-right: 10px;
  }



  .hero_btn {
    margin-top: 0%;
    margin-bottom: 40px;
  }



  .hero_btn button {
    margin-right: 30px;
  }

  .hero_btn button svg {
    font-size: 32px;
  }

  .hero .right_img {
    margin-top: 10%;
    width: 95%;
    height: 595px;
    display: flex;
    justify-content: center;
    align-items: center;

  }

  .hero .right_img img {
    width: 553px;
    height: 800px;
    align-self: center;
    display: flex;
    align-items: center;
    justify-content: center;
    position: unset;
    margin-top: -202px;
  }
}


@media screen and (max-width: 710px) {
  .hero_btn {
    flex-direction: column;
  }
}

@media screen and (max-width : 618px) {
  .hero h1 {
    font-size: 50px;
    font-weight: bold;
  }

  .hero h2 {
    font-size: 35px;

  }


  .hero .left {
    margin-top: 60px;
  }
  .hero .right{
    margin-top: 0px;
  }

  .hero .right_img img {
    width: 100%;
    margin-top: -204px;

    /* width: 510px; */
  }
}

@media screen and (max-width: 560px) {
  .hero .right_img {
    height: 500px;
  }

  .hero .right_img img {
    width: 100%;
    margin-top: -210px;
    height: 710px;

    /* width: 510px; */
  }
}

@media screen and (max-width: 490px) {
    .hero h1 br {
        display: block;
      }

  .hero .right_img {
    height: 390px;
    width: 95%;
  }

  .hero .right_img img {
    height: 600px;
    width: 100%;
  }

}

@media screen and (max-width: 375px) {
  .hero h1 {
    font-size: 40px;
    font-weight: bold;
  }

  

  .hero h2 {
    font-size: 30px;

  }

  .hero .right_img {
    height: 301px;
    width: 95%;
    margin-top: -30px ;
  }

  .hero .right_img img {
    width: 100%;
    margin-top: -118px;
    height: 420px;

    /* width: 510px; */
  }
}